<div class="jumbotron">
    <h1>Contact Entry System</h1>
    <p class="lead">The contact entry system is a REST API developed using the .NET standard framwork that will enable a client to perform CRUD operations on the contact collection.</p>
    <p>Learn more about the API @Html.ActionLink("here","Index", "Help", new { area = "" }, null). </p>
</div>

